<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <%= form_for :session, url: session_path do |form| %>
            <div class="field">
              <p class="control">
                <%= form.email_field :email, placeholder: "Email", class: "input is-medium" %>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <%= form.password_field :password, placeholder: "Password", class: "input is-medium" %>
              </p>
            </div>
            <br>
            <div class="control">
              <%= form.submit "Sign in", class: "button is-block is-info is-medium is-fullwidth" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>