<section class="hero is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"><%= @race.title %></h1>
      <h2 class="subtitle">Registration</h2>
    </div>
  </div>
</section>